<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      let friends = [
        {
          name: 'Anna',
          books: ['Bible', 'Harry Potter'],
          age: 21,
        },
        {
          name: 'Bob',
          books: ['War and peace', 'Romeo and Juliet'],
          age: 26,
        },
        {
          name: 'Alice',
          books: ['The Lord of the Rings', 'The Shining'],
          age: 18,
        },
      ];

      const arr = friends.reduce((pre, next) => {
        pre.push(...next.books);
        return pre;
      }, []);
      console.log(arr);
    </script>
  </body>
</html>
